/********* VARIABLES **********/
$icon-grid-extra: image_path("th-grid-extra-large.png");
$icon-grid-large: image_path("th-grid-large.png");
$icon-grid: image_path("th-grid.png");
$icon-grid-vertical: image_path("th-grid-vertical.png");

/********** ICONS **************/
.i-th-extra-large        { display: inline-block; vertical-align: middle; width: 15px; height: 15px; background: url($icon-grid-extra) no-repeat; background-size: 15px 30px; background-position: 0px -15px; &:hover, &:focus{ background-position: 0px 0px; }}
.i-th-large              { display: inline-block; vertical-align: middle; width: 15px; height: 15px; background: url($icon-grid-large) no-repeat; background-size: 15px 30px; background-position: 0px -15px; &:hover, &:focus{ background-position: 0px 0px; }}
.i-th                    { display: inline-block; vertical-align: middle; width: 15px; height: 15px; background: url($icon-grid) no-repeat; background-size: 15px 30px; background-position: 0px -15px; &:hover, &:focus{ background-position: 0px 0px; }}
.i-th-vertical           { display: inline-block; vertical-align: middle; width: 15px; height: 15px; background: url($icon-grid-vertical) no-repeat; background-size: 15px 30px; background-position: 0px -15px; &:hover, &:focus{ background-position: 0px 0px; }}

/********** STYLES *************/

/***  Sort grid ***/

#sort_items_menu{
	ul.dropdown-menu{
		padding: 5px 15px;
		background-color: #F9F9F9;
		font-size: 12px;
		position: absolute;
		top: 100%;
		right: 0px;
		float: left;
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
		border: 1px solid rgba(0, 0, 0, 0.15);
		text-align: left;
		list-style: outside none none;
		min-width: 160px;
		z-index: 1000;
	}
}

#product_grid_sort{
	margin: 0px 10px 0px 10px;
	ul{
		list-style-type: none;
		display: inline-block;
		padding: 6px;
		margin-bottom: 0px;
		li{
			display: inline-block;
			padding: 2px;
		}
		a{
			i.active{
				background-position: 0px 0px; 
			}
		}
	}	
}

.hidden-mobile{
	visibility: visible;
}
.hidden-desktop{
	visibility: hidden;
}

@media screen and (max-width: 768px){
	.hidden-mobile{
		visibility: hidden;
	}
	.hidden-desktop{
		visibility: visible;
	}
}

@media screen and (max-width: 460px){
	#product_grid_sort{
		min-width: 50px;
		margin: 0px;
		ul{
			padding: 6px 0px 6px 6px;
			float: right;
		}
	}
}