/********* VARIABLES **********/
$icon-grid-extra: image_path("th-grid-extra-large.png");
$icon-grid-large: image_path("th-grid-large.png");
$icon-grid: image_path("th-grid.png");
$icon-grid-vertical: image_path("th-grid-vertical.png");

/********** ICONS **************/
.i-th-extra-large        { display: inline-block; vertical-align: middle; width: 15px; height: 15px; background: url($icon-grid-extra) no-repeat; background-size: 15px 30px; background-position: 0px -15px; &:hover, &:focus{ background-position: 0px 0px; }}
.i-th-large              { display: inline-block; vertical-align: middle; width: 15px; height: 15px; background: url($icon-grid-large) no-repeat; background-size: 15px 30px; background-position: 0px -15px; &:hover, &:focus{ background-position: 0px 0px; }}
.i-th                    { display: inline-block; vertical-align: middle; width: 15px; height: 15px; background: url($icon-grid) no-repeat; background-size: 15px 30px; background-position: 0px -15px; &:hover, &:focus{ background-position: 0px 0px; }}
.i-th-vertical           { display: inline-block; vertical-align: middle; width: 15px; height: 15px; background: url($icon-grid-vertical) no-repeat; background-size: 15px 30px; background-position: 0px -15px; &:hover, &:focus{ background-position: 0px 0px; }}

/********** STYLES *************/

/***  Sort grid ***/

#sort_items_menu{
	ul.dropdown-menu{
		padding: 5px 15px;
		background-color: #F9F9F9;
		font-size: 12px;
		position: absolute;
		top: 100%;
		right: 0px;
		float: left;
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
		border: 1px solid rgba(0, 0, 0, 0.15);
		text-align: left;
		list-style: outside none none;
		min-width: 160px;
		z-index: 1000;
	}
}

#product_grid_sort{
	margin: 2px 0px 0px 10px;
	ul{
		list-style-type: none;
		display: inline-block;
		padding: 6px;
		margin-bottom: 0px;
		li{
			display: inline-block;
			padding: 2px;
		}
		a{
			i.active{
				background-position: 0px 0px; 
			}
		}
	}	
}

.hidden-mobile{
	visibility: visible;
	display:inline-block !important;
}
.hidden-desktop{
	visibility: hidden;
	display:none !important;
}

@media screen and (max-width: 768px){
	.hidden-mobile{
		visibility: hidden;
		display:none !important;
	}
	.hidden-desktop{
		visibility: visible;
		display:inline-block !important;
	}
}

@media screen and (max-width: 460px){
	#product_grid_sort{
		min-width: 50px;
    margin: 2px 5px 0px 10px;
		ul{
			padding: 6px 0px 6px 6px;
			float: right;
		}
	}
}


/* -------------------------------- 

xfilter 

-------------------------------- */
.cd-filter {
  position: fixed;
  top:0px;
  right: -400px;
  width: 300px;
  height: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 105;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: right 0.4s;
}

#form-filters{
  flex: 1 1 0%;
  overflow: auto;
}

.cd-filter form {
    background-color: #fff;
    padding: 10px 10%;
}
.cd-filter ul{
  list-style: none;
  padding-left: 20px;
}
.cd-filter .cd-close {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 55px;
  width: 60px;
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  background: #84B93B;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
}
.no-touch .cd-filter .cd-close:hover {
  background: #084B8A;
}
.cd-filter.filter-is-visible {
  right: 0px;
}
.cd-filter.filter-is-visible .cd-close {
  opacity: 1;
}

#form-filter-footer{
  bottom: 0;
  box-shadow: 0px -3px 5px 0px #979798;
  height: 60px;
  padding: 0;
  width: 100%;
  text-align: center;
  position: relative;
  button{
    color: white;
    margin-top: 10px;
    width: 200px;
  }
}

#form-filter-header{
  background: #84B93B;
  height: 50px;
  text-align: center;
  top: 0px;
  h4{
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 25px;
    margin-top: 15px;
    text-transform: uppercase;
  }
}

#order-list{
  margin-bottom:0px;
  padding: 10px 10% 0px 10%;
  li{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
  }
}


.cd-filter-trigger {
  position: relative;
  top: 0;
  margin-top: -5px;
  float: right;
  height: 50px;
  line-height: 50px;
  /* image replacement */
  overflow: hidden;
  white-space: nowrap;
  z-index: 3;
  padding: 0px 5px;
  width: auto;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
}

a.cd-filter-trigger:hover,
a.cd-filter-trigger:focus{
    text-decoration:none;
}

.cd-filter-trigger.filter-is-visible {
  pointer-events: none;
}
@media only screen and (max-width: 420px) {
  .cd-filter-trigger span{
    display: none;
  }
}
@media only screen and (min-width: 1170px) {

  .no-touch .cd-filter-trigger:hover {
    color: #045FB4;
  }
  .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
    color: #ffffff;
  }
}

/* -------------------------------- 

xcustom form elements 

-------------------------------- */
.cd-filter-block {
  margin-bottom: 1.6em;
}
.cd-filter-block h4 {
  /* filter block title */
  position: relative;
  margin-bottom: .2em;
  padding: 10px 0 10px 20px;
  color: #9a9a9a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.no-touch .cd-filter-block h4:hover {
  color: #045FB4;
}
.cd-filter-block h4::before {
  /* arrow */
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background: url("cd-icon-arrow.svg") no-repeat center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
  /* shared style for input elements */
  font-family: "Open Sans", sans-serif;
  border-radius: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
}
.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
  width: 100%;
  padding: .8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #045FB4;
}
.cd-filter-block input[type='search'] {
  /* custom style for the search element */
  border-color: transparent;
  background-color: #e6e6e6;
  /* prevent jump - ios devices */
  font-size: 1.6rem !important;
}
.cd-filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}
.cd-filter-block .cd-select {
  /* select element wrapper */
  position: relative;
}
.cd-filter-block .cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.cd-filter-block select {
  cursor: pointer;
  font-size: 1.4rem;
}
.cd-filter-block select::-ms-expand {
  display: none;
}

.cd-filter-block .list li {
  position: relative;
  margin-bottom: .8em;
}
.cd-filter-block .list li:last-of-type {
  margin-bottom: 0;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
  padding-left: 24px;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}
.cd-filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  width: 16px;
  height: 16px;
  /*background: url("cd-icon-check.svg") no-repeat center center;*/
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  border-radius: 50%;
}
.cd-filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 5px;
}
.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before {
  border-color: #9a9a9a;
  background-color: #9a9a9a;
}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after {
  display: block;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox - select element */
  .cd-filter-block .cd-select::after {
    display: none;
  }
}

/***************************************/

/*            SLIDER-INPUT             */

/***************************************/

.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.slider.slider-horizontal {
  width: 150px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
.slider.slider-horizontal .slider-track {
  height: 10px;
  width: 100%;
  margin-top: -5px;
  top: 50%;
  left: 0;
}
.slider.slider-horizontal .slider-selection {
  height: 100%;
  top: 0;
  bottom: 0;
}
.slider.slider-horizontal .slider-handle {
  margin-left: -10px;
  margin-top: -5px;
}
.slider.slider-horizontal .slider-handle.triangle {
  border-width: 0 10px 10px 10px;
  width: 0;
  height: 0;
  border-bottom-color: #0480be;
  margin-top: 0;
}
.slider input {
  display: none;
}
.slider .tooltip-inner {
  white-space: nowrap;
}
.slider-track {
  position: absolute;
  cursor: pointer;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.slider-selection {
  position: absolute;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f9f9f9, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f5f5f5);
  background-image: -o-linear-gradient(top, #f9f9f9, #f5f5f5);
  background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #9a9a9a;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  opacity: 0.8;
  border: 0px solid transparent;
}
.slider-handle.round {
}
.slider-handle.triangle {
  background: transparent none;
}

